/* -------------------- Variables -------------------- */

:root {
  --rose--500: #f43f5e;
  --rose--400: #fb7185;
  --rose--300: #fda4af;
  --white--000: #fff;
}

/* -------------------- Body -------------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "VT323", monospace; /* Fallback to monospace if the font fails to load */
  margin: 2rem;
  padding: 0;
}

/* -------------------- Text -------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 1rem 0;
}

h1 {
  color: var(--rose--500);
}

span {
  color: var(--rose--300);
}

/* -------------------- Header -------------------- */

/* -------------------- Navigation -------------------- */

nav ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  gap: 0 1rem;
  border: 2px solid var(--rose--500);
  border-radius: 8px;
  padding: 1rem;
  color: var(--rose--500);
}

ol li {
  padding: 0.2rem 0.4rem;
}

li a {
  color: unset;
  text-decoration: none;
  font-size: 1.2rem;
}

.header__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__home img {
  height: 2rem;
  width: 2rem;
  filter: invert(34%) sepia(96%) saturate(2169%) hue-rotate(327deg)
    brightness(98%) contrast(96%);
}

/* -------------------- Footer -------------------- */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--rose--500);
  padding: 0 0.2rem;
}

footer a {
  color: unset;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 3rem;
  }

  .header__home img {
    height: 3rem;
    width: 3rem;
  }

  nav ol {
    grid-template-rows: repeat(2, auto);
    gap: 0 3rem;
  }

  .nav a {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1399px) {
  nav ol {
    grid-template-rows: repeat(1, auto);
  }
}
